body{
    overflow: hidden;
}

.container{
    width: 95vw;
    height: 95vh;
    border: 2px solid black;
    position: relative;
    margin: auto;
    overflow: hidden;
}

#state{
    font-weight: 600;
}

.bar{ 

    --position: 20;

    position: absolute;
  top: calc(var(--position)*1vh);

    height: 50%;
    width: 10px;
    background-color: black;
    transform: translate(0, -50%);
}

#left{
    left: 0;
}

#right{
    right: 0;
}

#ball{
    
    --x: 50;
    --y: 50;

    width: 30px;
    
    aspect-ratio: 1;
    background-color: red;
    border: 2px solid rgb(171, 89, 89);
    border-radius: 50%;
    position: absolute;
    left: calc(var(--x)*1%);
    top: calc(var(--y)*1%);
}